@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html,
   body,
   #root {
      @apply h-full;
      font-family: sans-serif;
   }
   .wrapper {
      max-width: 1140px;
      padding: 0 12px;
      margin: 0 auto;
   }

   .h4-size {
      color: #495057;
      font-weight: 600;
      font-size: 1.3125rem;
      line-height: 1.2;
   }

   .text {
      color: #7a7f9a;
   }

   .scrollbar-border::-webkit-scrollbar-thumb {
      border-radius: 15px;
   }

   .box-shadow {
      box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
   }


   /* animation */
   .openAnimation {
      animation: AnimatedDropdownappear 0.3s forwards;
   }

   .closeAnimation {
      animation: AnimatedDropdowndisappear 0.3s forwards;
   }
   @keyframes AnimatedDropdownappear {
      0% {
         margin-top: 12px;
         opacity: 0.5;
      }
      100% {
         opacity: 1;
         margin-top: 5px;
      }
   }

   @keyframes AnimatedDropdowndisappear {
      0% {
         opacity: 1;
         margin-top: 5px;
      }
      100% {
         opacity: 0;
         margin-top: 12px;
      }
   }
}
